<ActionBar title="Your Digital Assistant"> </ActionBar>

<GridLayout rows="47,3*,auto,*" columns="*" class="page-background m-x-0 p-x-0">
  <!--
  <ContentView row="0" class="header-bg"></ContentView>
  <Label row="0" text="Soon at your disposal!" class="h3 p-t-5 m-l-15" horizontalAlignment="left" verticalAlignment="middle"></Label>
-->
  <Canvas row="1" (ready)="onCanvasLoaded($event)"></Canvas>

  <!--
  <ContentView row="2" class="header-bg">
    <TextView
      text="Which features would you consider to be of most interest for your digital assistant? Join our channels on Instagram and Facebook and participate in the discussion.&#xa;We are 100% community-driven and value your ideas!"
      class="text-field m-x-0 p-x-0 p-t-5" horizontalAlignment="left" verticalAlignment="middle" editable="false"></TextView>
  </ContentView>

  <Button row="3" text="Lets Go!" class="m-x-15 p-x-0" (tap)="onTap()"></Button>
-->
</GridLayout>
